// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.none{
	display:none;
}

.backg_top{
	width:100vw;
	height:100vh;
	background:#df7401;
}

.first{
	padding-top:25%;
	text-align: center;
	font-size: 20px;
	color: #2e2e2e;
}

.main_icon{
	width:60%;
	margin:10px;
}

.buttons{
	margin:50px;
	text-align: center;
	font-size:20px;
}

.button_login{
	text-align: center;
	padding:10px;
	color:#df7401;
	margin:5px;
	border: solid 2px #2e2e2e;
	border-radius: 10px;
	background: #2e2e2e;
	display:block;

}

.button_new{
	text-align: center;
	padding:10px;
	color:#2e2e2e;
	margin:5px;
	border: solid 2px #2e2e2e;
	border-radius: 10px;
	display:block;

}



header{
	border-bottom:2px solid #DF7401;
	min-height:100px;
	width:100%;
	position:fixed;
	background-color: #000000;
	z-index: 100;
}

header p{
	font-size: 15px;

}


.backblack{
	background:#000;
	width:100vw;
	height:100vh;
	position:fixed;
	z-index:199;
	opacity:0.6;
	display:none;

}
.past_box{
	width:60%;
	top:12%;
	left:0px;
	position:fixed;
	z-index:200;
	text-align:center;
	margin-bottom:10%;
	display:none;
}

.past_hum{
	position:absolute;
	width:50%;
	opacity:0.95;
	left:5px;
	top:46%;
}

.past_message{
	position: absolute;
    top: 23px;
    left: 0px;
    width: 100%;
    opacity: 0.95;
}


.rec_but{
	background-color:#fff;
	position: absolute;
	top: 65%;
    right: 1%;
	margin:15px;
	border-radius:5px;
	padding:12px 15px;
	font-size:20px;
	color:#2e2e2e;
	font-weight:bold;
}

.relative{
	position:relative;
	width:100vw;
	height:100vh;

}

.you{ 
	position: absolute;
    top: 70%;
    left: 8%;
    color: #000;
    font-weight: bold;
    font-size: 4vw;
}

.time_message{ 
	position: absolute;
	top: 27%;
    left: 8%;
    color: #fff;
    font-weight:bold;
    text-align:center;
    width:84%;
    font-size:20px;
}

.message_del{
	background-color:#2e2e2e;
	margin:0px 5px 15px 15px;
	border-radius:5px;
	padding:7px 15px;
	font-size:4vw;
	display:none;
}
.message_del_but{
	background-color:#df7401;
	margin:0px 15px 15px 5px;
	border-radius:5px;
	padding:7px 15px;
	font-size:4vw;
	display:none;
	color:#2e2e2e;
	font-weight:bold;
}

.input{
	margin:15px;
	background-color: #2E2E2E;
	width : -webkit-calc(100% - 30px) ;
    width : calc(100% - 30px) ;
	height:70px;
	font-size: 15px;
	color:white;
	border-radius:5px;
	top:0;
	padding:7px;
}

.field{
	color:#fff;
	border:solid 1px #df7401;
	margin:5px;
	padding:5px;
	width:90%;
	height:5vh;
}

.area{
	color:#fff;
	border:solid 1px #df7401;
	margin:5px;
	padding:5px;
	width:90%;
	height:16vh;

}

.select{
	color:#df7401;
	margin:5px;
	padding:5px;
	width:90%;
	height:5vh;

}

.labels{
	color:#fff;
	width:18%;

}

.header-form-container {
	// display: none;

}
.form_box{
	margin:10px;
	background:#2e2e2e;
	margin:15px;
	border-radius:5px;
	text-align:center;
}

.bury{
	padding:15px 20px;
	margin:5px;
	color:#2e2e2e;
	font-weight:bold;
}
.bury_box{
	background-image:url("backg_bury.png");
	background-size:100%;
	background-position: 0px 74%;
    display: none;
    font-size: 4vw;

}

.icon_slide{
	width:50%;
	display: none;
}

.icon_fade{
	width: 15%;
    position: absolute;
    left: 73vw;
    top: -2%;
}

.main{
	min-height:100vh;
	padding: 110px 4% 60px;
	display:flex;
	align-content: flex-start;
	flex-wrap: wrap-reverse;
}


.main div {
	width: 30%;
	margin: 0;
	height: 100px;
	background-image:url("capsule.png");
	background-size: contain;
	position: relative;
}

.main div a {
	 width: 100%;
    height: 100%;
    display: block;
}

.month{
	font-size: 7vw;
	color:white;
	position:absolute;
	left: 10%;
    top: 1%;

}

.day{
	font-size: 7vw;
    color: white;
    position: absolute;
    left: 64%;
    top: 22%;

}

.title1{
	font-size: 7vw;
    color: white;
    position: absolute;
    left: 5%;
    top: 46%;

}
.title2{
	font-size: 5vw;
    color: white;
    position: absolute;
    left: 33%;
    top: 53%;

}

.wrap{
	position:absolute;
	left: 27%;
    top: 5%;
    width: 45%;

}



.main div:nth-child(3n+2) {
	margin: 0 5%;
}

.icon_back{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 20%;
}

.icon_more{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 20%;
}

.icon_delate{
	position: fixed;
	right:35%;
	left:35%;
	bottom: 0;
	width:30%;
	display:none;
}

.set{
	color:#fff;
	height:70%;
	padding-top: 110px;
	font-size: 16px;
}

.set_title{
	border-bottom:dashed 1px #df7401;
	margin-left: 5%;
	margin-right: 45%
}
.set_box{
    margin: 10px 15px;
    background: #2E2E2E;
    padding: 4.5%;
    border-radius: 10px;
    font-size: 4.3vw;

}
.set_box_low{
	margin:10px;
	color:#2e2e2e;
	padding: 20px 10px;
	border-radius: 10px;
	font-size: 15px;
	text-align: right;
}
.initial{
	color:#df7401;
	font-size: 20px;

}

.backg_icon{
	position:fixed;
	right:20px;
	bottom:20px;
	width:40%;
}

.over{
	opacity: 0.6;
	z-index: 40;
}
.capsule{
	width:90%;
	height:30%;
	left:5%;
	z-index: 50;
	position: fixed;
	top:180px;
	border: solid 2px #df7401;
	background:#2e2e2e;
	border-radius: 15px;
	display:none;
}

.content{
	padding:5px;
	margin:5px;
	font-size: 4.5vw;
	color:#fff;
	border-bottom: solid 1px #df7401;
	position:relative;
}
.content_m{
	font-size: 5.2vw;
}
.limit{
	font-size: 4.5vw;
	padding:5px;
	margin:5px;
	color:#fff;
}

.day_m{
	font-size: 5vw;
}

.month_m{
	font-size: 5vw;
}
.count{
	font-size: 5vw;
	padding:5px;
	margin:5px;
	color:#df7401;
}
.count_m{
	font-size: 25px;
}
.but_bury{
	text-align: center;
	font-size: 6vw;
	color: #2e2e2e;
	padding:15px;
	background: #df7401;
	margin:10px;
	border-radius: 10px;
	font-weight:bold;
}
footer{
	background-color: #000000;
	z-index: 100;
}

option{
	background-color: #2e2e2e;
	padding:3px;
}
select{
	padding:3px;
}


.log_title{
	border-bottom:dashed 3px #2e2e2e;
	margin-left: 5%;
	margin-right: 5%;
	font-size:30px; 
	padding-top:30px;
	font-weight:bold;
}
.log_box{
	margin:10px 15px;
	background: #2E2E2E;
	padding: 20px 10px;
	border-radius: 10px;


}
.log_oth{
	margin:10px 15px;
	padding: 20px 10px;
	border-radius: 10px;
	border:solid 2px #2e2e2e;
	font-size:20px
}
.log_box_low{
	background: #2E2E2E;
	border-radius: 10px;
	padding:5px;
	margin:3px 15px;

}
.log_form{
	width:100%;
	color:#df7401;
	border-radius:3px;
	padding:5px;
	border:solid 1px #df7401;
}

.log_but{
	padding:10px 20px;
	margin:5px 15px;
	color:#df7401;
	font-weight:bold;
	background:#2e2e2e;
	border-radius:5px;
	font-size:25px;

}

.log_link{
	margin:10px 15px;
	padding:1px 5px;
	color:#df7401;
	background:#2e2e2e;
	border-radius:3px;
	font-size:20px;

}
.actions{
	text-align:right;
}

.new_task{
	font-size:4vw;

}





